<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
		
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<style>
  body
  {
    background: wheat;
  }
 
  #topics
  {
    position: absolute;
    right:0px;
    height:100vw;
    width:20vw;
    background-color: orange;
    display: flex;
    top:0px;
    padding: 20px;
  
    text-align: center;
    flex-direction: column;
    color: white;
  }
  .arena_ele
  {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid orange;
    background-color: white;
  }
  #topicarea
  {
    display: none;
  }
  .nav
  {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
    
  }
  .header
  {
    background: white;
    
  }
</style>


<script type="text/javascript" type="text/javascript">
  // Connecting to ROS
  // -----------------
  topics = []
  nodes = []
  let nodetimes = new Map()
  var ros = new ROSLIB.Ros({
    url : 'ws://localhost:9090'
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });
listeners = {}
  

  // Adding a new topic
  function addTopic(topic,topicdesc,msgtype)
  {
    fetch("/api/addtopic?topic="+topic+"&topicdesc="+topicdesc+"&msgtype="+msgtype).then((res)=>{
      if(res.ok)
      {
          topics.push([topic,topicdesc,msgtype]);
          rerender();

      }
      else
      {
        alert("Error!");
      }
    });
  }

  // Adding a new node
  function addNode(nodename,topic,message)
  {
    fetch("/api/addnode?topic="+topic+"&nodename="+nodename).then((res)=>{
      if(res.ok)
      {

          nodes.push([nodename,topic,message]);
          let i = nodes.length -1;
          var listener = new ROSLIB.Topic({
            ros : ros,
            name : topic,
            messageType : message
          });
          rerender();
          listener.subscribe(function(message) {
            let d = new Date();
            let n = d.getTime();
           nodetimes.set(nodename,n);
            console.log(nodetimes);
            //listener.unsubscribe();
          });
          setInterval(function(){ 
            

            let d = new Date();
            let n = d.getTime();
            console.log((nodetimes.get(nodename) -n ) );
              if( (n-nodetimes.get(nodename)) > 5000 || !nodetimes.has(nodename)) // If no response from node for > 5 seconds, it alerts for failiure.
              {
                if(document.getElementById("en"+i) == null)
                {
                  document.getElementById("errors").innerHTML+="<div id='en" + i+   "'>" +nodename + " not responding!!!</div>";
                }
                else
                {
                  document.getElementById("en"+i).style.visibility="visible";
                }
                
              }
              else
              {
                document.getElementById("en"+i).style.visibility="hidden";
              
              }
              

           }, 3000);

         
      }
      else
      {
        alert("Error!");
      }
    });
  }
  
  //Fetching topics afresh
  async function fetchTopics()
  {
    fetch("/api/topics").then(async (res)=>{
      if(res.ok)
      {
        topics = await res.json();
        rerender();
      }
    });

  }
  function remfromarena(i)
  {
    listeners[i].unsubscribe();
    document.getElementById("arena"+i).remove();

  }
  function viewinarena(i)
  {

    var listener = new ROSLIB.Topic({
            ros : ros,
            name : topics[i][0],
            messageType : topics[i][2]
          });
          document.getElementById("arena").innerHTML+="<div class='arena_ele' draggable='true' id='arena"+i+"'><h4>"+topics[i][1]+"</h4><br /> <a href='#' onclick='remfromarena("+i+")'><i class='glyphicon glyphicon-remove'></i></a></div>";
          listeners[i] = listener

          listener.subscribe(function(message) {
            document.getElementById("arena"+i).innerHTML+="<div>"+JSON.stringify(message)+"</div>";
            //console.log(message);
            //listener.unsubscribe();
          });

  }


  //  Function to delete the topic
  function deletetopic(i)
  {
    topic = topics[i][0];
    fetch("/api/deletetopic?topic="+topic).then((res)=>{
      if(res.ok)
      {
          fetchTopics();

      }
      else
      {
        alert("Error!");
      }
    });
  }


  // Function to re render every time a new node/topic is added
  function rerender()
  {
    document.getElementById("topics").innerHTML = " <h3>Topics</h3><hr />";
    document.getElementById("nodes").innerHTML = " <h3>Nodes being monitored:</h3><hr />";
    
    for(let i=0;i<topics.length;i++)
    {
      
        console.log(topics[i]);
            document.getElementById("topics").innerHTML+= "<div><a href='#' style='color:green;' onclick='viewinarena("+i+ ")'><h4>" +topics[i][1]+  "</a></h4>"
            document.getElementById("topics").innerHTML+=""  +topics[i][0]+  " <i style='color:red;' onclick='deletetopic("+i+")' class='glyphicon glyphicon-remove'></i><hr /></div>"
        

    }
    for(let i=0;i<nodes.length;i++)
    {
      

      document.getElementById("nodes").innerHTML += nodes[i][0];
   
          

    }
  }

  fetchTopics();
  
</script>
</head>
<body>
  <div class="header">
<center>
  
  <img src="{{ url_for('static', filename='logo.png') }}" alt="Anveshak Logo"/>
  <span style="color:orange;"><h3>Team Anveshak</h3></span>
</center>
</div>
  
<div class="nav">
  <a href="#" data-toggle="modal" data-target="#topicarea" style='color:darkgoldenrod;'><h3><i class='glyphicon glyphicon-plus'></i> Topic</h3></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="#" data-toggle="modal" data-target="#nodearea" style='color:darkgoldenrod;'><h3><i class='glyphicon glyphicon-plus'></i> Node</h3></a>

</div>

<div id="errors" class="alert alert-danger">
<h2>Errors</h2>
</div>
  
<div id="arena">

</div>

        <div class="nav">
            <div id="topics">
              <h3>Topics</h3>
            </div>
            <div id="nodes">
              <h3>Nodes</h3>
            </div>
         
        </div>
        

        


        <!-- Modal -->
<div class="modal fade" id="topicarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
  
       <input type="text" class="form-control" id="t" placeholder="Enter topic name" /><br /><br />
     <input type="text" class="form-control" id="td" placeholder="Enter topic description" /><br /><br  />
  <input type="text" class="form-control" id="mt" placeholder="Enter message type" /><br /><br />
         
    
      </div>
      <div class="modal-footer">
        <button type="button" style="width:20vh;background-color:orange; padding: 20px; color: #fff;" data-dismiss="modal" class="btn" onclick="addTopic(document.getElementById('t').value,document.getElementById('td').value,document.getElementById('mt').value)">Add Topic +</button>
        
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="nodearea" tabindex="-1" role="dialog" aria-labelledby="nodesArea" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a Node</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
  
       <input type="text" class="form-control" id="n1" placeholder="Enter node name" /><br /><br />
     <input type="text" class="form-control" id="n2" placeholder="Enter monitoring topic description" /><br /><br  />
  <input type="text" class="form-control" id="n3" placeholder="Enter message type" /><br /><br />
         
    
      </div>
      <div class="modal-footer">
        <button type="button" style="width:20vh;background-color:orange; padding: 20px; color: #fff;" data-dismiss="modal" class="btn" onclick="addNode(document.getElementById('n1').value,document.getElementById('n2').value,document.getElementById('n3').value)">Add Node +</button>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>